{% from 'macros.html' import render_field %}
{% extends "layout.html" %}
{% block title %} New Entry | {{ super() }}{% endblock %}
{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method="POST" action="/entries/edit/{{ id }}">
            {{ form.hidden_tag() }}
            {% for field in form %}
            {{ render_field(field) }}
            {% endfor %}
            <input type="submit" value="Publish Entry" class="button">
            <a href="/entries/edit/{{ id }}" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
q