{% from 'macros.html' import render_field %}
{% extends "layout.html" %}
{% block title %} New Entry | {{ super() }}{% endblock %}
{% block content %}
<div class="container">
    <div class="new-entry">
        <h2>New Entry</h2>
        <form method="POST" action="/entries/edit/{{ entry.id }}">
            {{ form.hidden_tag() }}
            {% for field in form %}
            {% if field.name in ['title', 'date', 'time_spent', 'notes', 'resources']%}
            {% with value = getattr(entry, str(field.name)) %}
            {{ render_field(field, value) }}
            {% endwith %}
            {% else %}
            {{ render_field(field) }}
            {% endif %}
            {% endfor %}
            <input type="submit" value="Publish Entry" class="button">
            <a href="/entry" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
